@page
@model IndexModel
@{
    ViewData["Title"] = "Disaster Response Optimization";
}


<div class="container">
    <div class="text-center">
        <img src="~/static/disaster_response_logo.png" alt="Disaster Response Optimization Logo">
    </div>

    <div class="text-center">
        <select id="stateSelector">
            <option value="CA">California</option>
            <!-- Add other states as options -->
        </select>

        <select id="disasterTypeSelector">
            <option value="Fire">Fire</option>
            <!-- Add other disaster types as options -->
        </select>

        <button id="queryDisaster" onclick="queryDisaster()">Query Most Critical Disaster</button>
        <button id="showResponders" onclick="showResponders()" disabled>Show First Responders</button>
        <button id="calculateRoute" onclick="calculateRoute()" disabled>Calculate Shortest Route</button>
    </div>

    <div class="row">
        <div class="text-center">
            <div id="map" style="width: 100%; height: 500px;"></div> <!-- Map Container -->
        </div>
    </div>
</div>


@section Scripts {
    @using Microsoft.Extensions.Options
    @using Disaster_Response_Optimization.WebAPI.Configurations
    @inject IOptions<GoogleMapsConfig> GoogleMapsConfig

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@GoogleMapsConfig.Value.ApiKey&callback=initMap"></script>
    <script type="module" src="~/js/site.js"></script>
}
