@page
@model IndexModel
@{
    ViewData["Title"] = "Disaster Response Optimization";
}

<div class="text-center">
    <img src="~/static/disaster_response_logo.png" alt="Disaster Response Optimization Logo">

    <div id="buttons">
        <button id="showResponders" onclick="showResponders()">Show First Responders</button>
        <button id="showDisasters" onclick="showDisasters()">Show Real-Time Disasters</button>
        <button id="calculateRoute" onclick="calculateRoute()">Calculate Shortest Route</button>
    </div>

    <div id="map" style="width: 100%; height: 500px;"></div> <!-- Map Container -->
</div>


@section Scripts {
    @using Microsoft.Extensions.Options
    @using Disaster_Response_Optimization.WebAPI.Configurations
    @inject IOptions<GoogleMapsConfig> GoogleMapsConfig

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@GoogleMapsConfig.Value.ApiKey&callback=initMap"></script>
    <script type="module" src="~/js/mapModule.js"></script>
}
